
*{
    margin: 0%;
    box-sizing: border-box;
    
}

a{
text-decoration: none;
}


body{
    background-color: rgb(89, 68, 184);
}



/*HEADER*/

.header{
    width: 93%;
    height: 17vh;
    background-color: rgb(38, 219, 162);
    border-radius: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vh;
    padding-right: 15vh;
    margin-top: 2%;
    margin-left: 3.3%;
}

.pmm{
    font-family: new-astro-soft, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 600%;
    color: rgb(255, 255, 255);
    align-self: center;
}

.sobremi{
    font-family: new-astro-soft, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 270%;
    color: rgb(255, 255, 255); 
    align-self: center;  
    padding-left: 35%;
}

.contacto{
    font-family: new-astro-soft, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 270%;
    color: rgb(255, 255, 255);   
    align-self: center;
}

/*PÁGINA INICIO*/

/*SECTION*/

.menuproyectos{
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}
.cajatexto{
    width: 80vh;
    height: 70vh;
    border: rgb(38, 219, 162) 1.4vh dotted;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}
.paginasweb{
    font-family: "gyst-variable",sans-serif;
    font-variation-settings: 'wght' 100;
    font-size: 380%;   
    color: rgb(255, 255, 255);
    align-self: center;
}

.cajaimagen{
    width: 95vh;
    height: 70vh;
    border-radius: 10%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.webimagen{
    width: 130%;
    height: auto;
    margin-left: 2%;
}



/*PÁGINAS WEBS*/
.titulosproyectos{
    font-family: "gyst-variable",sans-serif;
    font-variation-settings: 'wght' 100;
    font-size: 250%;   
    color: rgb(255, 255, 255);
    margin-top: 4%;
    margin-left: 5%;
}

.cajanombrefoto{
    width: 100%;
    height: 5vh;
    margin-top: 3%;
    padding-left: 12%;
    padding-right: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nombrefoto{
    font-family: new-astro-soft, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 170%;
    color: rgb(252, 252, 252);
}

.cajawebea{
    width: 100%;
    height: auto;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.webeafotos{
    height: 32.5vh;
    width: auto;
    border-radius: 3vh;
    filter: blur(2.5px);
}

a:hover img{
    filter: blur(0);
}

.cajadescripcionfoto{
    width: 100%;
    height: 5vh;
    margin-top: 1%;
    padding-left: 13.2%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descripcionfoto{
    font-family: new-astro-soft, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 120%;
    color: rgb(252, 252, 252);
}



.cajavideo{
    width: 80%;
    height: auto;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 6vh;
}
